/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background: linear-gradient(#ffe9e1 50vh, #f9b687 600vh, #efb198 1000vh); */
  background: #fbe6dd;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.bg-sunset {
  background-color: rgb(255, 222, 202);
}
.bg-sunset-shimmer {
  background-color: rgb(207, 182, 167);
}
.bg-main-orange-hover:hover {
  background-color: rgb(255, 101, 46);
}

.spin {
  @apply inline-block animate-spin rounded-full border-2 border-orange-500 border-r-transparent motion-reduce:animate-[spin_1.5s_linear_infinite] bg-transparent bg-opacity-60;
}

.bg-shimmerGradient {
  @apply bg-gradient-to-b from-stone-200;
  background-color: rgba(199, 183, 173, 0.597);
}

}
